body{
	margin: 0px;
	background-color: #eee;
}
header{
	font-size: 48px;
	text-align: left;
	background-image: url("header.png");
	background-position: auto;
	background-size: 100%;
	border: 0px;
	margin: 0px;
	padding: 8px;
	color: #fff;
	font-family: Georgia, serif;
	background-repeat: no-repeat;
}
p{
	font-family:  Tahoma, Verdana, sans-serif;
	line-height: 1.7em;
}
h1{
	margin: 0px;
}
nav{
	background-color: #8C162E;
	padding: 15px;
  	position: -webkit-sticky;
	position: sticky;
	top: 0;
	margin-bottom: 4em;
}
ul{
	margin: 0px;
	list-style: none;
	font-family: Garamond, serif
	font-size: 16px;
	text-align: center;
	position: -webkit-sticky;
  	position: sticky;
}
nav li{
	list-style: none;
	display: inline;
	padding-right: 25px;
	outline-width: 20%;
	font-family: Georgia, serif;
	font-size: 24px;
	padding: 15px;
	width: 20%;
	margin: auto;

}
.body{
	width: 80%;
	align-content: center;
	justify-content: center;
	margin: auto;
}
a{
	color: #1C162E;
	text-decoration: none;
}
.navli:hover{
	color: #8C162E;
	text-decoration-style: none;
	background-color: #1C162E;
	padding: 15px;
}
a: hover{
	color:#1C162E;
}
a: visited{
	color: #1C162E;
	text-decoration-style: none;
}
h2{
	text-align: left;
	font-family: Helvetica, sans-serif;
	font-size: 28px;
}
article{
	width: 70%;
	margin-top: 2em;
	margin-bottom: 2em;
}
.container{
	display: grid;
  	grid-template-columns: auto auto auto;
  	background-color: #eee;
  	padding: 10px;
}
.container p{
	text-align: justify;
	box-sizing: border-box;
	padding: 5px;
}
.grid{
	padding: 15px;
	box-sizing: border-box;
}
.grimg{
	width: 80%;
	display: block;
	margin: auto;
	align-content: center;
}
h4{
	font-size: 20px;
	text-align: center;
	color: #400F25;
	font-family: Tahoma, sans-serif;
}
button{
	padding: 6px 18px;
	background-color: #8C162E;
	color: white;
	border-color: none;
}
.title{
	align-content: left;
}
.list{
	display: block;
	padding: 5px;
	font-family:  Tahoma, Verdana, sans-serif;
}
.qa{
	margin-bottom: 25px;
	width: 60%;
}
footer{
	background-color: #8C162E;
	color: white;
	margin-top: 10em;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}
.foot{
	text-align: center;
	font-family: serif;
}
h3{
	color: #1C162E;
	font-family: Helvetica, sans-serif;
}
